<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            <a href="/ueber">Über uns</a> - 
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a> - 
            <a href="https://gitlab.com/swisode/website" target="_blank" rel="noopener">Repository</a><br>
            <em>Übersetzung von <a href="https://web.archive.org/web/20190915101437/https://switching.social/" target="_blank" rel="noopener">switching.social</a></rm>
        </p>
        <p>
            
        </p>
        <span class="d-none"><a rel="me" href="https://fosstodon.org/@swisode">Auf Mastodon</a></span>
    </section>
</section>
